# Large Monsters
'Rathian': 'Rathian'

# Small Monsters
'Aptonoth': 'Aptonoth'

# Status
'Poison': 'Poison'
'Sleep': 'Sleep'
'Paralysis': 'Paralysis'
'Dizzy': 'Dizzy'
'Exhaust': 'Exhaust'
'Jump': 'Jump'
'Blast': 'Blast'
'Rage': 'Rage'

# Crowns
' Gold': ' Gold'
' Silver': ' Silver'
' Mini': ' Mini'
